.login-sector {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-sector .inputbox input {
    width: 100%;
    margin-bottom: 19px;
    display: flex;
    padding: 8px 29px;
    align-items: flex-start;
    gap: 9px;
    color: #A2A2A2;
    font-size: 20px;
}