.mainPage {
    display: flex;
    width: 100%;
    height: 100%;
}

.mainPage .stepPannel {
    width: 23%;
    background: #F2F2F2;
}

.mainPage .logobar {
    background-color: transparent !important;
    border-color: #573CFA !important;
    padding-bottom: 8px;
    border-right: 4px solid #573CFA;
}

.step.active {
    border-color: #573CFA !important;
}

.stepElement-body {
    display: flex;
    align-items: center;
    padding: 14px 25px;
    font-size: 17px;
    color: #573CFA;
    font-weight: 400;
    border-top: 1px solid #9C9C9C;
    border-bottom: 1px solid #9C9C9C;
    border-right: 4px solid transparent;
}

.stepElement-bottom {
    height: 20px;
    border-right: 4px solid transparent;
}

.stepElement.visited .stepElement-body {
    background-color: #FFF;
    color: #A2A2A2;
}

.stepElement.visited .stepElement-body img {
    width: 30px !important;
}

.stepElement.visited .stepElement-body, .stepElement.visited .stepElement-bottom {
    border-right-color: #573CFA;
}

.stepElement.visited:last-child .stepElement-bottom {
    border-right-color: transparent;
}

.stepElement.active .stepElement-body {
    background: linear-gradient(90deg, #372794 1.75%, #573CFA 99.97%);
    border-right-color: #573CFA;
    color: #FFF;
    font-weight: 900;
}

.stepElement .step-image {
    margin-left: auto;
    width: 30px;
    text-align: center;
}

.stepElement img {
    width: 30px;
}

.stepElement:nth-child(3) img {
    width: 17px !important;
}

.mainPage .titlebar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: 27px;
    font-weight: 600;
}

.mainPage .btn-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
}

.mainPage .half-width {
    width: 50%;
}

.mainPage .font-20 {
    font-size: 20px;
}