.mainPage {
    display: flex;
    width: 100%;
    height: 100%;
}

.mainPage .stepPannel {
    width: 23%;
    background: #F2F2F2;
}

.mainPage .logobar {
    background-color: transparent !important;
    border-color: #573CFA !important;
    padding-bottom: 8px;
    border-right: 4px solid #573CFA;
}

.step.active {
    border-color: #573CFA !important;
}

.stepElement-body {
    display: flex;
    align-items: center;
    padding: 14px 25px;
    font-size: 17px;
    color: #573CFA;
    font-weight: 400;
    border-top: 1px solid #9C9C9C;
    border-bottom: 1px solid #9C9C9C;
    border-right: 4px solid transparent;
}

.stepElement-bottom {
    height: 20px;
    border-right: 4px solid transparent;
}

.stepElement:hover .stepElement-body {
    background: linear-gradient(90deg, #372794 0.95%, #573CFA 99.97%);
    color: #FFF;
    border-color: #573CFA;
}

.stepElement span {
    margin-right: 17px;
}

.stepElement .step-image {
    margin-left: auto;
    width: 30px;
    text-align: center;
}

.stepElement img {
    width: 30px;
}

.stepElement:nth-child(3) img {
    width: 17px !important;
}

.mainPage .titlebar {
    width: 100%;
    background: linear-gradient(90deg, #573CFA 51.05%, #372794 100%);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: 27px;
    font-weight: 600;
}

.mainPage .masterWallet {
    padding: 97px 67px 63px 76px;
    height: 100%;
}

.mainPage .masterWallet .block {
    margin-bottom: 55px;
}

.mainPage .masterWallet .block .title {
    padding: 0px 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainPage .masterWallet .block .content {
    padding: 10px;
    border: 1px solid #000;
}

.mainPage .masterWallet .block .content .d-flex {
    padding-left: 10px;
    padding-right: 10px;
}

.mainPage .masterWallet .block .content .d-flex div {
    width: 50%;
}

.mainPage .masterWallet .btn-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
}