.mainPage .masterWallet {
    padding: 97px 67px 63px 76px;
    height: 680px;
}

.mainPage .masterWallet .block {
    margin-bottom: 55px;
}

.mainPage .masterWallet .block .title {
    padding: 0px 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainPage .masterWallet .block .content {
    border: 1px solid #000;
    padding: 0px 10px;
}

.mainPage .masterWallet .block .content .alert-msg {
    font-size: 18px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.mainPage .masterWallet .block .content .d-flex p {
    width: 50%;
}

.mainPage .masterWallet .block button {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.mainPage .masterWallet .block button:hover {
    transform: scale(1.2);
}

.mainPage .masterWallet .block button img {
    width: 30px;
    transition: width 0.3s ease;
}
