p {
  margin-bottom: 0px !important;
}

.custom-container {
  width: 1440px !important;
  height: 900px !important;
  margin-left: auto;
  margin-right: auto;
}

.logobar {
  height: 87px;
  color: #000;
  background-color: #D9D9D9;   
  padding: 0px 27.5px;
  font-size: 40px;
  font-weight: 400;
}

.main {
  width: 100%;
  background: #FFF;
}

.position-center {
  margin-left: auto;
  margin-right: auto;
}

.btn-custom {
  padding: 12px 49px;
  font-size: 40px;
}

.btn-custom-default {
  width: 100%;
  color: #FDFDFD;
  background: linear-gradient(90deg, #573CFA 54.17%, #372794 100%);
  border: 1px solid transparent;
}

.btn-custom-disabled {
  color: #FFF;
  background: #D9D9D9;
  border: 1px solid transparent;
}